/*
.header {
    height: 100px;
    width: 100%;
    background-color: #2896eb;
}

.app-select-button {
    color: white;
    background-color: transparent;
    border-radius: 25%;
    border: none;
    height: 65px;
    width: 300px;

    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
    text-align: center;
    margin: auto;
}

.app-select-button:hover {
    cursor: pointer;
    background-color: #b8b8b8

}
*/